<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    </head>
    
    <body>
        <div id="titlebox"> <p id = "title"> The Jungle Front </p></div>
        <div id="textbox1" style="display:flex;justify-content:center;align-items:center;"><p id= "p1"> It is January of 1968. In the coming days one of the bloodiest battles in Vietnam will take place as the Viet-Cong try to take Saigon, (The South Vietnamese capital) and they are met with heavy opposition from American armed forces. This turning point in the war lead to heavy causlties and a turning tide in favor of the Viet-Cong despite the fact that they lost this battle. In this simulation you will choose to fight for one of these two sides and make decisions that could either perserve or end your life.</p> 
        <form method="POST" action="/america">
            <input type="submit" name="army" value="America">      
        </form>  <br>
        <form method="POST" action="/vietnam">
            <input type="submit" name="army" value="Vietnam">
        </form> <br>
        <form method="POST" action="/france">
            <input type="submit" name="army" value="France">
        </form>
        </div>
        
            
            
        </form>
        
    </body>
    
</html>
