<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title> The Jungle Front </title>
    </head>
    <body>
        <div id=aright1>
            <p id=p10>
                You have been crouching behind a fountain in the courtyard for the past 3 hours now. You check your radio, and switch to your captain's channel; nothing but static. As night falls you can hear the sounds of battle draw ever closer. You quiver as a small Vietnamese squadron approaches your position. You sit silently in cover waiting for the enemy to disperse.
            </p>
        </div>
        <div id=aright2>
            <p id=p11>
                You now realize you have to make a decision, risk getting found by using your radio to call for help or staying silent and waiting for your enemies to leave.
            </p>
            <form method="POST" action="/radio">
                <input type="submit" name="pg2" value="radio">      
            </form>  <br>
                 <form method="POST" action="/silent">
            <input type="submit" name="pg2" value="stay silent">
            </form><br>
        </div>
    </body>
</html>