<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
        <title> The Jungle Front </title>
    </head>
    <body>
        <div class= "gameover"> 
        <p class="p7"> GAME OVER </p>
        </div>
        <div class= "awrong2">
            <p class= "p12"> You turn on your radio and it emits an incredibly loud jolt of feedback. The Vietcong soldiers instantly approach your position and as soon as you are spotted you are shot and killed.</p>
            <form method="POST" action="/">
                <input type="submit" name="go" value="main menu">
            </form><br>
            </div>
            
            
    </body>
</html>