<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title> The Jungle Front</title>
    </head>
    <body>
        <div id= tb2>
            <p id= p2>
                You have chosen America. Your name is Pvt. Ronald Mayfield and you are stationed at the U.S. Embassy in Saigon. In the next few hours the Tet Offensive will commence and the Viet-Cong forces will advance on your position. With this event will come a set of decisions which will decide your fate. Will you be able to escape and later retake your position or will you die and end your story.
            </p>
        </div>
        <div id= tb3>
            <p id= p3>
                As the Viet-Cong approach your position you are standing outside the U.S. Embassy talking with your friends with your gun leaned up against a nearby barrel. Your commanding officer then comes on the radio and urges you to get to the Presidential Palace as there has been a breakout suprise Vietcong attack on that position and backup is needed to fend off the attack. You must choose either to take cover in the courtyard of the Embassy to make a stand against the Vietnamese forces, or to hurry over to the palace to provide backup for your officer.  
                
            </p>
            <form method="POST" action="/courtyard">
                <input type="submit" name="pg2" value="courtyard">      
            </form>  <br>
                 <form method="POST" action="/palace">
            <input type="submit" name="pg2" value="palace">
            </form><br>
        
    </body>
</html>