<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
        <title> The Jungle Front</title>
    </head>
    <body>
        <div class= "gameover"> 
        <p class="p7"> GAME OVER </p>
        </div>
        <div id= awrong1>
            <p id= p8> When you arrive at the palace you meet the remnants of your battalion. You are all sitting behind a short wall as you spray blindly at your enemy. Death is all around you, and you shut your eyes right as a grenade explodes at your feet and you see nothing but black.</p>
            <form method="POST" action="/">
                <input type="submit" name="go" value="main menu">
            </form><br>
            </div>
            
            
    </body>
</html>