<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="css/style.css">
         <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
         <title>The Jungle Front</title>
        
    </head>
    <body>
        <div class="avic1">
            <p class="acongr">
                Congragulations! 
                
            </p>
        </div>
        <div class="avic2">
            <p class="p15">
                Your enemies left the vicinity and you were able to call in Apache attack helecopters for air support. With this help, you retook the city of Saigon and were awarded many accolades for your courage and valor. With this you return home. 
            </p>
        <form method="POST" action="/">
                <input type="submit" name="go" value="main menu">
            </form><br>
            </div>
            
    </body>
</html>