<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title> The Jungle Front</title>
    </head>
    <body>
        <div id=tb6>
            <p id=p6>
                The French withdrawled from Vietnam in 1954 you have been home for 14 years now. Suddenly you have a flashback whilst at your job and have a PTSD enduced seizure and die. Don't choose France. 
            </p>
            <form method="POST" action="/gameover">
                <input type="submit" name="go" value="continue">
            </form> <br>
        </div>
    </body>
</html>