<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
        <title> The Jungle Front</title>
    </head>
    <body>
        <div class= "gameover"> 
        <p class="p7"> GAME OVER </p>
        <form method="POST" action="/">
            <input type="submit" name="main" value="main menu">      
        </form>  <br>
        </div>
    </body>
</html>