<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
        <title>The Jungle Front</title>
    </head>
    <body>
        <div class= "gameover"> 
        <p class="p7"> GAME OVER </p>
        </div>
        <div class= "awrong2">
            <p class= "p12"> You prepare to enter the president's treasury, listening by the door for potential threats. Deciding that it is safe to enter, you storm through the door. Instead of finding enemies, your party is bombarded with grenades that were set up above the door.  </p>
            <form method="POST" action="/">
                <input type="submit" name="go" value="main menu">
            </form><br>
            </div>
            
            
    </body>
</html>