<!DOCTYPE html>
<html>
  <head>
    <title> The Jungle Front</title>
    <link rel="stylesheet" href="css/style.css">  
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
  </head>
  
  <body>
       
    <div class= "gameover"> 
        <p class="p7"> GAME OVER </p>
        </div>
        <div id= vwrong1>
            <p id= p9> Seeking cover, you race towards the sandbags. You safely arrive at your cover, but enraged by your cowardly decision, your general shoots you in the face. Obey your orders, soldier.</p>
            <form method="POST" action="/">
                <input type="submit" name="go" value="main menu">
            </form><br>
            </div>
  </body>
  
</html>