<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title> The Jungle Front</title>
    </head>
    <body>
        <div id= tb4>
            <p id= p4>
                You have chosen the communist Vietnamese forces, the Viet Cong. You have been assigned to the Sapper Battalion, where showing any signs of weakness will result in death. For your next mission, you will be part of a raid against the capital, Saigon, where you will launch attacks against US and South Vietnamese positions. Your mission is to siege the Presidential Palace, and fight through the South Vietnamese forces, the ARVN. The other 34 battalions, consisting of the 5th, 7th, and 9th Divisions will launch attacks against several other places.                
            </p>
        </div>
        <div id= tb5>
            <p id= p5>
                As you march closer towards your destination, your general orders you to charge into the middle of the conflict. Bullets wizz past your head, and explosions ring your ear drums. You see some sandbags nearby, and consider whether you catch your breath, or continue to advance into enemy territory.  
            </p>
            <form method="POST" action="/sandbag">
                <input type="submit" name="pg2" value="sandbag">      
            </form>  <br>
                 <form method="POST" action="/advance">
            <input type="submit" name="pg2" value="advance">
            </form><br>
        
    </body>
</html>                                                             
