<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="css/style.css">
         <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <title>The Jungle Front</title>
    </head>
    <body>
        <div class="avic1">
            <p class="acongr">
                Congragulations! 
                
            </p>
        </div>
        <div class="avic2">
            <p class="p15">
                    You captured the president of South Vietnam. For this achievement you become a greatly decorated colonel and live long enough to see the Vietnamese victory.  
            </p>
        <form method="POST" action="/">
                <input type="submit" name="go" value="main menu">
            </form><br>
            </div>
            
    </body>
</html>